#include <winres.h>
#include "../include/Resource.h"

IDI_MAIN_ICON ICON "app.ico"

IDD_SETTINGS_DIALOG DIALOGEX 0, 0, 260, 90
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Input Latency Optimizer"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    PUSHBUTTON "Chế độ: Recommend", IDC_MODE_BUTTON, 10, 10, 150, 22
    PUSHBUTTON "Reset",          IDC_RESET_BUTTON, 170, 10, 80, 22
    DEFPUSHBUTTON "Apply",       IDC_APPLY_BUTTON, 170, 40, 80, 22
END
