#include "../include/Resource.h"

IDI_MAIN_ICON ICON "app.ico"

IDD_SETTINGS_DIALOG DIALOGEX 0, 0, 320, 140
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Input Latency Optimizer"
FONT 9, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT "Chế độ:", -1, 10, 12, 60, 12
    LTEXT "Recommend", IDC_MODE_LABEL, 70, 12, 240, 12

    CONTROL "", IDC_MODE_SLIDER, "msctls_trackbar32",
        WS_TABSTOP | WS_VISIBLE | WS_CHILD | TBS_AUTOTICKS | TBS_FIXEDLENGTH,
        10, 28, 300, 22

    PUSHBUTTON "Reset", IDC_RESET_BUTTON, 10, 60, 140, 28
    DEFPUSHBUTTON "Apply", IDC_APPLY_BUTTON, 170, 60, 140, 28

    DEFPUSHBUTTON "Close", IDOK, 220, 100, 90, 25
END
